.archivo{
  font-family: 'Archivo', sans-serif;
}

.heebo{
  font-family: 'Heebo', sans-serif;
}

.overpass{
  font-family: 'Overpass Mono', monospace;
}

.codystar{
  font-family: 'Codystar', cursive;
}

h4,.h4{
  color:$black;
}

ul{
  list-style-type: square;
}

.home{
  .h-accent{
    position: relative;

    &:after{
      position: static;
      top: -20px;
      left: -20px;
      right: -20px;
      bottom: -20px;
      content:'';
    }

    &.type-1:after{
      background-image: url('../images/accents/h-accent-1.png');
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
    &.type-2:after{
      background-image: url('../images/accents/h-accent-1.png');
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
  }
}
