.archivo{
  font-family: 'Archivo', sans-serif;
}

.heebo{
  font-family: 'Heebo', sans-serif;
}

.overpass{
  font-family: 'Overpass Mono', monospace;
}

.codystar{
  font-family: 'Codystar', cursive;
}

h4,.h4{
  color:$black;
}

ul{
  list-style-type: square;
}

.home{
  .element:not(.header, .content-tabs){
    .h-accent{
      position: relative;

      &:after{
        position: absolute;
        top: -12px;
        left: -12px;
        right: -12px;
        bottom: -12px;
        content:'';
        z-index: -1;
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }

      &.type-1:after{
        background-image: url('../images/accents/h-accent-1.png');
      }
      &.type-2:after{
        background-image: url('../images/accents/h-accent-2.png');
      }
      &.type-3:after{
        background-image: url('../images/accents/h-accent-3.png');
      }
      &.type-4:after{
        background-image: url('../images/accents/h-accent-4.png');
      }
      &.type-5:after{
        background-image: url('../images/accents/h-accent-5.png');
      }
      &.type-6:after{
        background-image: url('../images/accents/h-accent-6.png');
      }
    }
  }
}
.page:not(.home){
  .element:not(.header, .content-tabs){
    .h-accent{
      position: relative;

      &:after{
        position: absolute;
        top: -12px;
        left: -12px;
        right: -12px;
        bottom: -12px;
        content:'';
        z-index: -1;
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }

      &.type-1:after,
      &.type-2:after,
      &.type-3:after,
      &.type-4:after{
        background-image: url('../images/accents/h-accent-7.png');
      }
      &.type-5:after,
      &.type-6:after{
        background-image: url('../images/accents/h-accent-8.png');
      }
    }
  }
}
