.element{
  ::selection {
    background: $red;
    color: $white;
  }

  &.header{
    ::selection {
      background: $white;
      color: $red;
    }
  }
  
  .home &{
    ::selection {
      background: $white;
      color: $red;
    }
  }
}

html{
  position: relative;
  min-height: 100%;
  margin-top: 0 !important;
}

body{
   margin-bottom: 120px;
}

.box-shadow{
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1), 0 2px 2px 0 rgba(0,0,0,.1);
}

.img-circle{
  border-radius: 9999px !important;
}
