.page-template{
  &.contact{
    background-color: $red;

    &:after{
      position: absolute;
      content: "";
      top: 0;
      left: calc(50% - 683px);
      width: 100%;
      height: 100%;
      max-width: 1366px;
      max-height: 800px;
      background: radial-gradient(ellipse at center,#ffffff1a 0,#fff0 70%,#fff0 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#91ffffff",endColorstr="#00ffffff",GradientType=1);
      z-index: -1010;
    }

    .page-title{
      &:after{
        content: '';
        display: block;
        position:absolute;
        top: -35px;
        left: -38px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url('../images/accents/h-accent-5.png');
        width: 306px;
        height: 114px;
        z-index: -1;
      }
    }

    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, .title, .lead, .text, p{
      color: $white;
    }

    #contact_navigation{
      display: inline-block;
    }

    #contact_navigation{
      ul.contact-menu{
        justify-content: flex-start;
      }
    }

    .social-media{
      display: inline-block;

      .social-item{
        display: inline-block;
        margin-left: 10px;
        height: 26px;
        width: 26px;
      }
    }

    .adresgegevens,
    .overige-gegevens{
      @extend .heebo;

      a{
        color: $white;
      }

      p{
        margin-bottom:0px;
        line-height: 25px
      }
    }
  }
}
