.page-template{
  &.contact{
    background-color: $red;

    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, .title, .lead, .text, p{
      color: $white;
    }

    #contact_navigation{
      display: inline-block;
    }

    #contact_navigation{
      ul.contact-menu{
        justify-content: flex-start;
      }
    }

    .social-media{
      display: inline-block;

      .social-item{
        display: inline-block;
        margin-left: 10px;
        height: 26px;
        width: 26px;
      }
    }
  }
}
