.page-template{
  &.contact{
    background-color: $red;

    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, .title, .lead, .text, p{
      color: $white;
    }

    .social-media{
      .social-item{
        img{
          width: 32px;
        }
      }
    }
  }
}
