footer{
  position: absolute;
  height:80px;
  left:0;
  right:0;
  bottom:0;

  section{
    position: relative;

    .triangle{
      position: absolute;
      width: 771px;
      height: 333px;
      bottom: 0;
      right: 0;
      overflow: hidden;
      z-index: -1;

      &:before{
        position:absolute;
        content:'';
        height:500px;
        width:500px;
        border-top:60px solid #e84437;
        border-right:60px solid #e84437;
        border-left:0px solid transparent;
        border-bottom:0px solid transparent;
        top: 110px;
        left:50px;
        transform: translateZ(1px) rotate(-45deg);
        z-index: -1;
      }
    }

    .brand{
      position: absolute;
      top:-32px;
      left: calc(50vw - 79px);
      width: 158px;
      height: 32px;
      margin: 0;

      img{
        width:100%;
        height: auto;
        box-shadow: 0px 5px 25px 0 rgba(26, 23, 27, 0.63);
      }
    }

    h6{
      color:$white;
      font-weight:600;
      letter-spacing: 0.4px;
    }

    .contact-menu{
      .menu-item{
        margin-left: 80px;
      }
    }

    .legal{
      padding-bottom: 2rem;
    }

    .social-media{
      .social-item{
        display: inline-block;
        height: 28px;
        width: 28px;
        margin-left: 1rem;
      }
    }
  }
}
