.element{
  &.header{
    position: relative;
    background-color: $red;
    color: $white;
    padding-bottom:0;
    margin-bottom: 8rem;
    z-index: 2;

    .header-image{
      position:absolute;
      top:120px;
      right:65px;
      width:800px;
      height:600px;
    }

    .filler{
      height: 750px;
    }

    .content{

      *{
        color: $white;
      }

      p{
        color: $white;
        font-size: 1.125rem;
      }
    }

    &:after{
      position:absolute;
      content:"";
      background:$red;
      height:100px;
      transform:skewY(-2deg);
      left:0;
      right:0;
      bottom:-3vw;
      z-index:-1;
    }
  }
}
