#header{
  transition: .3s ease-in-out;
  height: 0;
  z-index: 2000;

  #brand{
    position: absolute;
    opacity: 1;
    top: 0;
    left: calc(50vw - 161.5px);
    height: 65px;
    width: 324px;
    margin: 0;
    transition: .3s ease-in-out;
    z-index: 2050;

    img{
      width: 100%;
      height: auto;
      box-shadow: 0px 5px 25px 0 rgba(26, 23, 27, 0.63);
    }
  }

  #toggler{
    position: relative;
    outline: transparent;
    padding: 0;
    border: none;
    width: 111px;
    margin-left: 40px;
    height: 65px;
    z-index: 2050;

    .animated-toggler{
      position: relative;
      width: 40px;
      height: 30px;
      transform: rotate(0deg);
      transition: .3s ease-in-out;
      cursor: pointer;

      span{
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .3s ease-in-out;
        background-color: $white;

        &:nth-child(1) {
          top: 0px;
        }

        &:nth-child(2), &:nth-child(3) {
          top: 12px;
        }

        &:nth-child(4) {
          top: 24px;
        }
      }

      &.open{
        span{
          &:nth-child(1) {
            top: 11px;
            width: 0%;
            left: 50%;
          }

          &:nth-child(2) {
            transform: rotate(45deg);
          }

          &:nth-child(3) {
            transform: rotate(-45deg);
          }

          &:nth-child(4) {
            top: 11px;
            width: 0%;
            left: 50%;
          }
        }
      }
    }

    .text{
      position: absolute;
      content:'';
      height: 20px;
      width: 50px;
      background-image: url('../images/icons/menu.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      top: calc(50% - 11px);
      left: 55px;
      color: transparent;
    }
  }


  #navigation_container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2020;

    #topbar{
      height: 65px;
      background-color: $black;
      z-index: 2000;

      #secondary_navigation{
        padding-right: 40px;
      }
    }

    #navigation{
      background-color: $gray-900;
      transition: .3s ease-in-out;

      #primary_navigation{
        width: 100%;
        max-width: 1440px;
        padding-top: 2.313rem;
        padding-left: 2.1rem;
        padding-right: 2.1rem;
        padding-bottom: .5rem;

        ul{
          justify-content: space-between;

          .menu-item{
            padding-left: .4rem;
            padding-right: .4rem;
            padding-bottom: 2rem;

            a{
              font-size: 1.21875rem;
              letter-spacing: 1.6px;
              color: $white;
              @extend .overpass;

              &:hover, &:active, &:focus{
                color: $red;
              }
            }

            &.externe-link,
            &.external-link{
              a{
                &:after{
                  display: inline-block;
                  content: '';
                  width: 16px;
                  height: 16px;
                  margin-left: 4px;
                  background-image: url('../images/icons/externe-link.png');
                  background-repeat: no-repeat;
                  background-size: contain;
                  background-position: center;
                }
              }
            }

            .sub-menu{
              list-style-type: none;
              padding: 0;
              margin-top: 20px;

              .menu-item{
                margin: 0;
                padding: 0;

                a{
                  display: block;
                  font-family: 'Archivo', sans-serif;
                  font-size: 1.15625rem;
                  font-weight: 400;
                  letter-spacing: 1.5px;
                  color: $white;
                  padding-top: 2px;
                  padding-bottom: 2px;

                  &:hover, &:active, &:focus{
                    color: $red;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &.open{
    transition: .3s ease-in-out;

    #brand{
      opacity: 0;
      transition: .3s ease-in-out;
    }

    #navigation{
      #topbar{
        opacity: 1;
        height: 65px;
        transition: .3s ease-in-out;
        background-color: $black;
      }
    }
  }
}

.toggler-bg{
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 65px;
  background-color: $black;
  z-index: 1;
}

.admin-bar{
  #header,
  .toggler-bg{
    top: 32px;
  }
}


ul.contact-menu{
  justify-content: flex-end;

  .menu-item{
    position: relative;
    margin-left: 107px;
    line-height: 65px;

    a{
      color: $gray-600;
      font-size: 1.125rem;

      @extend .heebo;
    }

    &.phone:before,
    &.mail:before,
    &.address:before{
      display: block;
      position: absolute;
      content: '';
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      height: 32px;
      width: 32px;
      left: -42px;
      top: calc(50% - 16px);
    }

    &.phone:before{
      background-image: url('../images/icons/telefoon.svg');
    }

    &.mail:before{
      background-image: url('../images/icons/mail.svg');
    }

    &.address:before{
      background-image: url('../images/icons/koffie.svg');
    }
  }
}

#legal_navigation{
  .menu-item{
    margin-right: 2rem;

    a{
      color: $black;
      font-size: .875rem;
      line-height: 1.8;
      letter-spacing: 0.3px;
      padding: 6px;
    }
  }
}
