#header{
  transition: .3s ease-in-out;
  z-index: 2000;

  #brand{
    position: absolute;
    top:0;
    left: calc(50vw - 161.5px);
    height: 65px;
    width: 323px;
    box-shadow: 0px 5px 25px 0 rgba(26, 23, 27, 0.63);
    margin: 0;
    transition: .3s ease-in-out;
    z-index: 2050;

    img{
      width:100%;
      height: auto;
    }
  }

  #toggler{
    position: relative;
    outline: transparent;
    padding: 0;
    border: none;
    width: 111px;
    margin-left: 40px;
    height: 65px;
    z-index: 2050;

    .animated-toggler{
      position: relative;
      width: 40px;
      height: 30px;
      transform: rotate(0deg);
      transition: .3s ease-in-out;
      cursor: pointer;

      span{
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .3s ease-in-out;
        background-color: $white;

        &:nth-child(1) {
          top: 0px;
        }

        &:nth-child(2), &:nth-child(3) {
          top: 12px;
        }

        &:nth-child(4) {
          top: 24px;
        }
      }

      &.open{
        span{
          &:nth-child(1) {
            top: 11px;
            width: 0%;
            left: 50%;
          }

          &:nth-child(2) {
            transform: rotate(45deg);
          }

          &:nth-child(3) {
            transform: rotate(-45deg);
          }

          &:nth-child(4) {
            top: 11px;
            width: 0%;
            left: 50%;
          }
        }
      }
    }

    .text{
      position: absolute;
      content:'';
      height: 20px;
      width: 50px;
      background-image: url('../images/icons/menu.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      top: calc(50% - 11px);
      left: 55px;
      color: transparent;
    }
  }

  #navigation{
    z-index: 2020;

    #topbar{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 0px;
      opacity:0;
      transition: .3s ease-in-out;
      z-index: 2000;

      #secondary_navigation{
        padding-right: 40px;

        ul{
          justify-content: flex-end;

          .menu-item{
            position: relative;
            margin-left: 107px;
            line-height: 65px;

            a{
              color: $gray-600;
              font-size: 1.125rem;

              @extend .heebo;
            }

            &.phone:before,
            &.mail:before,
            &.address:before{
              display: block;
              position: absolute;
              content:'';
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center;
              height: 36px;
              width: 36px;
              left: -42px;
              top: calc(50% - 20px);
            }

            &.phone:before{
              background-image: url('https://placehold.it/36');
            }

            &.mail:before{
              background-image: url('https://placehold.it/36');
            }

            &.address:before{
              background-image: url('https://placehold.it/36');
            }
          }
        }
      }
    }

    #navigation_container{
      position: absolute;
      top:0;
      left:0;
      right:0;
      background-color: $gray-900;

      #primary_navigation{
        width:100%;
        max-width:1200px;
        padding-top: 105px;
        padding-bottom: 40px;

        ul{
          justify-content: space-around;

          .menu-item{

            a{
              font-family: 'Overpass Mono', monospace;
              font-size: 1.21875rem;
              letter-spacing: 1.6px;
              color: $white;
            }

            .sub-menu{
              list-style-type: none;
              padding: 0;
              margin-top: 28px;

              .menu-item{
                margin: 0;

                a{
                  display: block;
                  font-family: 'Archivo', sans-serif;
                  font-size: 1.15625rem;
                  font-weight: 400;
                  letter-spacing: 1.5px;
                  color: $white;
                  padding-top: 2px;
                  padding-bottom: 2px;
                }
              }
            }
          }
        }
      }
    }
  }

  &.open{
    transition: .3s ease-in-out;

    #brand{
      top: -65px;
      box-shadow: 0px 5px 25px 0 rgba(26, 23, 27, 0);
      transition: .3s ease-in-out;
    }

    #navigation{
      #topbar{
        opacity: 1;
        height: 65px;
        transition: .3s ease-in-out;
        background-color: $black;
      }

      #navigation_container{
        transition: .3s ease-in-out;
      }
    }
  }
}

.admin-bar{
  #header{
    top: 32px;
  }
}
