.element{
  &.content-video{
    position: relative;

    .embed-responsive{
      box-shadow: 0px 5px 25px 0 rgba(26, 23, 27, 0.63);

      .btn-play{
        position: absolute;
        height: 100px;
        width: 100px;
        top: calc(50% - 50px);
        left: calc(50% - 50px);
        background-color: $black;
        transition: .3s ease-in-out;
        opacity: 1;
        background-image: url('../images/icons/play.svg');
        background-size: 46px;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 1;
      }

      .video-progress{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 4px;
        background-color: transparent;

        .progress-bar{
          transition: none;
        }
      }

      &.playing{
        .btn-play{
          opacity: 0;
          z-index: -1;
        }
      }
    }
  }
}
