.element{
  &.content-themes{
    .title{
      font-weight: 800;
      font-size: 2.46875rem;
      color: $red;
      text-align: center;
      @extend .heebo;

      &-accent{
        width: 181px;
        height: 43px;
        margin: 0 auto;
        background-image: url('../images/accents/7.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin-bottom: 1.1rem;
      }
    }

    .lead{
      text-align: center;
      font-size: $font-size-base;
      font-weight: $font-weight-base;
      @extend .archivo;
    }

    .themes{
      padding-top: 8rem;
      .theme{
        padding-right: 2rem;
        padding-left: 2rem;
        cursor: pointer;
        .gallery-container{
          position: relative;
          text-align: center;
          box-shadow: 0px 5px 25px 0 rgba(26, 23, 27, 0.36);
          .gallery-paging{
            position: absolute;
            height: 36px;
            line-height: 36px;
            left: auto;
            right: 0;
            bottom: 0;
            padding-left: 12px;
            padding-right: 12px;
            color: $white;
          }
        }
        .title{
          font-weight: 800;
          font-size: 1.125rem;
          text-align: center;
          color: $black;
          padding-top: 1.6rem;
          padding-bottom: 3rem;
          @extend .heebo;
        }

      }
    }
  }
}

@include media-breakpoint-down(md){
  .element{
    &.content-themes{
      .themes{
        padding-top: 4rem;

        .theme{
          padding-right: 1rem;
          padding-left: 1rem;

          &.offset{
            transform: translateY(-2rem);
          }

          .title{
            padding-bottom: 1.8rem;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(sm){
  .element{
    &.content-themes{
      .themes{
        padding-top: 2rem;

        .theme{
          &.offset{
            transform: translateY(0);
          }

          .title{
            padding-bottom: 1.6rem;
          }
        }
      }
    }
  }
}
