.element{
  &.content-quote{
    text-align: center;
    @extend .overpass;

    .quote{
      position: relative;

      &:before,
      &:after{
        position: absolute;
        content:'';
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }

      &:before{
        width: 57px;
        height: 90px;
        background-image: url('../images/quote-open.png');
        left: 0;
        bottom: -25px;
      }

      &:after{
        width: 50px;
        height: 122px;
        background-image: url('../images/quote-close.png');
        top: -25px;
        right: 0;
      }

      .text{
        font-size: 1.563rem;
        line-height: 1.813rem;
      }

      .author{
        font-size: 1.125rem;
        line-height: 2.438rem;
      }
    }
  }
}
