.element{
  &.content-image{
    .image-container{
      position: relative;

      .bg-image{
        display: block;
        content:'';
        position: absolute;
        top: 35px;
        right: 30px;
        width: 100%;
        height: calc(100% - 70px);
        background-color: #bf1c0f;
        z-index: -1;
      }
    }

    .right{
      .bg-image{
        right: 30px;
      }

      .image-meta{
        text-align: right;
      }
    }

    .left{
      .bg-image{
        left: 30px;
      }
    }

    .image-meta{
      padding-top: 2.25rem;
      padding-left: 2rem;
      padding-right: 2rem;
      font-size: .875rem;

      .meta-link{
        display: inline-block;
        vertical-align: baseline;
        background-color: $black;
        padding: .2rem .6rem;
        color: $white;
        margin-left: .5rem;
        margin-right: .5rem;
      }
    }
  }
}
