.element{
  @include media-breakpoint-down(md){
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  @include media-breakpoint-down(lg){
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  @include media-breakpoint-down(xl){
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
